<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Quora Posts</h1>

    <!-- Add New Post Button -->
    <a href="http://localhost:8080/post/new" class="new-post-btn">+ Add New Post</a>

    <!-- Scrollable Post Section -->
    <div class="posts">
      <% if (posts.length > 0) { %>
        <% for (let post of posts) { %>
          <div class="post">
            <!-- Link to Post Details Page -->
              <h3 class="user">@<%= post.username %></h3>
              <p class="content"><%= post.content %></p>
              <a href="http://localhost:8080/post/<%= post.id %>" >
              See in details </a> <br>
              <a href="http://localhost:8080/post/<%= post.id %>/edit" >
              Edit </a>
              See in details </a> <br>
              <form action="/post/<%= post.id %>?_method=DELETE" method="post">
                <button>Delete Post</button>

              </form>
            </div>
        <% } %>
      <% } else { %>
        <p class="no-posts">No posts available. Be the first to add one!</p>
      <% } %>
    </div>
  </div>
</body>
</html>
